.search-List__wrapper {
  width: 100%;
  background-color: white;
  .item-list__wrapper {
    display: grid;
    min-height: 212px;
    box-sizing: content-box;
    border-bottom: 1px solid $lightGray_color;
    margin: 0 16px ;
    grid-template-columns: repeat(12,1fr);
    .item-image__wrapper {
      max-height: 212px;
      cursor: pointer;
      grid-column: 1 / 2;

      @include devices(desktop) {
        max-height: 212px;
        grid-column: 1 / 2;
      }
      .item-image {
        width: 180px;
        height: 180px;
        border-radius: 4px;
        margin: 16px 16px 16px 0;
      }
    }
    .item-info__wrapper {
      align-self: center;
      grid-column: 2 / 13;

      @include devices(desktop) {
        align-self: center;
        grid-column: 2 / 12;
      }

      .item-info__header {
        @include flex-center;
        justify-content: space-between;
        padding-bottom: 32px;
        .item-info__price {
          justify-content: flex-start;
          cursor: pointer;
          font-size: 24px;

          @include flex-center;
          span {
            margin-right: 8px;
          }
          img {
            height: 17px;
          }
        }

        @include devices(mobile) {
          flex-direction: column-reverse;
          align-items: flex-start;
          padding-bottom: 16px;

          @include flex-column;
          .item-info__address {
            align-self: flex-start;
          }
        }

        .item-info__location {
          font-size: 12px;
        }
      }

      .item-info__title {
        font-size: 18px;
        span {
          cursor: pointer;
        }
      }
      .item-info__condition {
        font-size: 18px;
        span {
          cursor: pointer;
          text-transform: capitalize;
        }
      }

      .item-info__address {
        cursor: default;
        font-size: 12px;
      }
    }
  }
}
