.empty-wrapper {
  @include flex-center;
  background-color: transparent;
  .empty {
    width: 100%;
    height: 210px;
    margin: 20px 0;
    background-image: url('images/listEmpty.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @include devices(mobile) {
      height: 250px;
      background-image: url('images/listEmptyMobile.png');
    }
  }
}
