header{
  background-color: $header_color;
  height: $header_height;
  padding: 10px;
  width: 100%;
  @include flex-center;
  
  .header-items-wrapper{
    flex-basis: 100%;
    transition: 1s;
    max-width: $container_maxWidth;
    @include flex-center;
    @include devices(tablet){
      flex-basis: 80%;
      transition: 1s;
    } 
    
    .search-logo__image{
      height:36px;
      margin-right: 25px;
      transition: 0.1s;
      cursor: pointer;
      &:hover{
        transform: scale(1.07);
        transition: 0.2s;
      }
    }

    .search-wrapper{
      flex-grow: 1;
      position: relative;

      .search-input{
        font-size: 18px;
        height: 39px;
        border: none;
        outline: none;
        width: 100%;
        padding:7px 55px 9px 15px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
        &::placeholder{
          color: $midGray_color;
        }
      }

      .search-input__button{
        height:39px;
        width: 40px;
        position: absolute;
        padding: 1px;
        right: 0px;
        top: 0;
        outline:none;
        cursor: pointer;
        border: none;
        .search-input__image{
          height: 18px;
          transition: 0.5s;
          &:hover{
            transform: scale(1.06);
            transition: 0.5s;
          }
        } 
      }
    }
  } 
}