// colors
$header_color: #ffe600;
$black_color: #333;
$lightGray_color: #eee;
$midGray_color: #999;
$darkGray_color: #666;
$blue_color:#3483fa;

// heights
$header_height:59px;

// widths
$container_maxWidth:1100px;
