.breadcrumbs-wrapper {
  padding: 0 5px;
  margin: 16px 0;
  color: $midGray_color;
  font-size: 14px;
  .breadcrumb {
    display: inline-flex;
    align-items: center;

    @include devices(mobile) {
      line-height: 1.7;
    }
    span {
      cursor: pointer;
    }

    &:last-child {
      color: $darkGray_color;
    }
    &:last-child > svg:last-child {
      display: none;
    }
  }
}
